@use "../utilities" as *;

/**----------------------------------------
START: Theme Story CSS
----------------------------------------*/

.story-item {
    .story-content{
        .date{
            color: var(--mt-color-common-white);
            font-size: 12px;
            font-weight: 600;
            display: block;
            margin-bottom: 15px;
        }
        p{
            color: var(--mt-color-common-white);
            font-size: 14px;
        }
        .read-more{
            font-family: var(--mt-ff-body);
            color: var(--mt-color-common-white);
            font-size: 16px;
            font-weight: 500;
            i{
                font-size: 12px;
            }
            &:hover{
                color: var(--mt-color-theme-primary);
            }
        }
        &.top{
            padding-bottom: 60px;
            padding-left: 50px;
            position: relative;
            .dot{
                background-color: var(--mt-color-theme-secondary);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 8px;
                left: 20px;
            }
            &:before{
                background-color: var(--mt-color-theme-secondary);
                content: "";
                height: 1px;
                width: 20px;
                position: absolute;
                top: 11px;
                left: 0;
            }
            &:after{
                background-color: var(--mt-color-theme-secondary);
                content: "";
                height: 100%;
                width: 1px;
                position: absolute;
                top: 11px;
                left: 0;
            }
        }
        &.bottom{
            padding-top: 60px;
            padding-right: 50px;
            position: relative;
            .dot{
                background-color: var(--mt-color-theme-secondary);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                bottom: 8px;
                right: 20px;
            }
            &:before{
                background-color: var(--mt-color-theme-secondary);
                content: "";
                height: 1px;
                width: 20px;
                position: absolute;
                bottom: 11px;
                right: 0;
            }
            &:after{
                background-color: var(--mt-color-theme-secondary);
                content: "";
                height: 100%;
                width: 1px;
                position: absolute;
                bottom: 11px;
                right: 0;
            }
        }
    }
    .year-wrap{
        background-color: var(--mt-color-common-white);
        padding: 5px;
        position: relative;
        z-index: 1;
        .years{
            background-color: var(--mt-color-theme-secondary);
            font-size: 16px;
            font-weight: 700;
            padding: 10px 60px 10px 40px;
            display: inline-flex;
            align-items: center;
            margin-bottom: 0;
            position: relative;
            z-index: 1;
            &:after{
                background-color: var(--mt-color-common-white);
                content: "";
                width: 20px;
                height: 100%;
                position: absolute;
                top: 0;
                right: -1px;
                clip-path: polygon(100% 0, 0 50%, 100% 100%);
            }
        }
    }
}

/* !END: Theme Story CSS */
